#reservation{
    background-color: #BFB398;
    padding: 25px;
    min-height: 100vh;
    min-width: 100vw; 
}




/** PAGE HEADER **/
.page-circle{
    width: 40px;
    height: 40px;
    border-radius: 250px;
    font-size: 18px;
    color: #000;
    line-height: 40px;
    text-align: center;
    margin: 0 30px 0 0;
    background: #F5F5F5;
    border: 1px solid #1570BF;
    float: left;
}
.container{
    width: 85vw;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;   
    padding: 20px;
}
.page-steps{
    width: inherit;
    background-color: #F2C572;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;   
    padding: 15px;
    border-bottom: none;
    transform: translate(-20px, -20px);
    float: left;
}
h1.page_steps{
    float: left;
    margin-top:10px;
}
/** PAGE HEADER **/




/** FONTS  **/
    /* Needed when font is removed form google font database */
    @font-face {
        font-family: "Roboto";
        src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
    }
    @font-face {
        font-family: "Roboto_bold";
        src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
    }
    @font-face {
        font-family: "Titillium Web";
        src: url("../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format("ttf"),
    }
    @font-face {
        font-family: "Titillium bold";
        src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf") format("ttf"),
    }
    /* Needed when font is removed form google font database */

    h1{
        font-family: 'Titillium Web', sans-serif;
        color: white;
        margin-top: 2px;
        margin-bottom: -5px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
/** FONTS **/




/** Navigation OVERRIDES **/
    .navbar-brand>img{
        width: 200px;
        margin-top: -23px;
    }
    .navbar-default{
        background-color: #18588E;
        margin: -2px;;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }

    .navbar-nav>li{
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    @media (max-width: 768px) {
        .navbar-nav>li>a.nav-vert-line{
            display: none;

        }    
    }
/** Navigation **/




/** BUTTONS **/
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus,.btn-primary:active:focus{
        background-color: #076EC3;
        border-color: #076EC3;
        float: right;
    }

    .btn>u {
        font-size: 12px;
    }
    .btn.btn-light {
        float: left;
        
    }
/** BUTTONS **/




/* IMAGES */
    #room_tumbnail {
        width: 90%;
    }

/* IMAGES */




/* CHOOSE ROOM */
    .room-container{
        padding-top: 50px;
    }

    .room_block {
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        border: 3px solid rgb(222, 222, 222);
        background-color: rgb(240, 240, 240);
        border-radius: 15px 15px
    }

    .room_block > :hover :checked{
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        border: 3px solid rgb(14, 87, 182);
        background-color: rgb(233, 233, 233);
        border-radius: 15px 15px
    }


    .room_block > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
    .room_block > input + div{ /* DIV STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }

    span.glyphicon.glyphicon-ok {
        display: none;
    }

    span.glyphicon.glyphicon-ok :hover :checked{
        display: none;
    }
/* CHOOSE ROOM */